.icon-svg {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.ricon {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
}

.ricon svg {
    width: 1em;
    height: 1em;
    display: block;
}